In [707]:
import pandas as pd
import plotly.graph_objects as go
import matplotlib.pyplot as plt

# Importing

In [708]:
# Read raw data
df = pd.read_csv('full_rounds.csv')
df = df.drop(df.columns[0], axis=1)

df

,match_url,error_x,team_1,team_2,map_name,winner,win_type,team_1_side,team_2_side,round,error_y,equipament_1,equipament_2
0,https://www.hltv.org/stats/matches/108629/eter...,False,Eternal Fire,Natus Vincere,Nuke,0,ct_win.svg,0,1,1,False,4100,4250
1,https://www.hltv.org/stats/matches/108629/eter...,False,Eternal Fire,Natus Vincere,Nuke,0,ct_win.svg,0,1,2,False,21700,2000
2,https://www.hltv.org/stats/matches/108629/eter...,False,Eternal Fire,Natus Vincere,Nuke,1,bomb_exploded.svg,0,1,3,False,25950,22200
3,https://www.hltv.org/stats/matches/108629/eter...,False,Eternal Fire,Natus Vincere,Nuke,1,bomb_exploded.svg,0,1,4,False,22350,24700
4,https://www.hltv.org/stats/matches/108629/eter...,False,Eternal Fire,Natus Vincere,Nuke,1,bomb_exploded.svg,0,1,5,False,3750,25500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3913,https://www.hltv.org/stats/matches/108028/flyq...,False,FlyQuest,Eternal Fire,Dust2,1,ct_win.svg,1,0,16,False,25450,29200
3914,https://www.hltv.org/stats/matches/108028/flyq...,False,FlyQuest,Eternal Fire,Dust2,1,bomb_defused.svg,1,0,17,False,18300,33800
3915,https://www.hltv.org/stats/matches/108028/flyq...,False,FlyQuest,Eternal Fire,Dust2,0,t_win.svg,1,0,18,False,21100,33100
3916,https://www.hltv.org/stats/matches/108028/flyq...,False,FlyQuest,Eternal Fire,Dust2,0,bomb_exploded.svg,1,0,19,False,22900,28700
3917,https://www.hltv.org/stats/matches/108028/flyq...,False,FlyQuest,Eternal Fire,Dust2,1,bomb_defused.svg,1,0,20,False,26650,13150

# Nan values

In [709]:
df_nan = df[df.isna().any(axis=1)]
df_nan

Empty DataFrame
Columns: [match_url, error_x, team_1, team_2, map_name, winner, win_type, team_1_side, team_2_side, round, error_y, equipament_1, equipament_2]
Index: []

There's no Nan values. That means the data scraping handled pretty well the data extraction

# Errors

In [710]:
df_errors = df[(df.error_x == True) | (df.error_y == True)]
df_errors

Empty DataFrame
Columns: [match_url, error_x, team_1, team_2, map_name, winner, win_type, team_1_side, team_2_side, round, error_y, equipament_1, equipament_2]
Index: []

Also no errors accused in the extraction of rounds (error_x) and equipaments value (error_y). Thus, we can drop these columns from our df.

In [711]:
df = df.drop(['error_x', 'error_y'], axis=1)

df

,match_url,team_1,team_2,map_name,winner,win_type,team_1_side,team_2_side,round,equipament_1,equipament_2
0,https://www.hltv.org/stats/matches/108629/eter...,Eternal Fire,Natus Vincere,Nuke,0,ct_win.svg,0,1,1,4100,4250
1,https://www.hltv.org/stats/matches/108629/eter...,Eternal Fire,Natus Vincere,Nuke,0,ct_win.svg,0,1,2,21700,2000
2,https://www.hltv.org/stats/matches/108629/eter...,Eternal Fire,Natus Vincere,Nuke,1,bomb_exploded.svg,0,1,3,25950,22200
3,https://www.hltv.org/stats/matches/108629/eter...,Eternal Fire,Natus Vincere,Nuke,1,bomb_exploded.svg,0,1,4,22350,24700
4,https://www.hltv.org/stats/matches/108629/eter...,Eternal Fire,Natus Vincere,Nuke,1,bomb_exploded.svg,0,1,5,3750,25500
...,...,...,...,...,...,...,...,...,...,...,...
3913,https://www.hltv.org/stats/matches/108028/flyq...,FlyQuest,Eternal Fire,Dust2,1,ct_win.svg,1,0,16,25450,29200
3914,https://www.hltv.org/stats/matches/108028/flyq...,FlyQuest,Eternal Fire,Dust2,1,bomb_defused.svg,1,0,17,18300,33800
3915,https://www.hltv.org/stats/matches/108028/flyq...,FlyQuest,Eternal Fire,Dust2,0,t_win.svg,1,0,18,21100,33100
3916,https://www.hltv.org/stats/matches/108028/flyq...,FlyQuest,Eternal Fire,Dust2,0,bomb_exploded.svg,1,0,19,22900,28700
3917,https://www.hltv.org/stats/matches/108028/flyq...,FlyQuest,Eternal Fire,Dust2,1,bomb_defused.svg,1,0,20,26650,13150

# Initial Exploration

In [712]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3918 entries, 0 to 3917
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   match_url     3918 non-null   object
 1   team_1        3918 non-null   object
 2   team_2        3918 non-null   object
 3   map_name      3918 non-null   object
 4   winner        3918 non-null   int64
 5   win_type      3918 non-null   object
 6   team_1_side   3918 non-null   int64
 7   team_2_side   3918 non-null   int64
 8   round         3918 non-null   int64
 9   equipament_1  3918 non-null   int64
 10  equipament_2  3918 non-null   int64
dtypes: int64(6), object(5)
memory usage: 336.8+ KB

All the columns have same size and they are with the right Dtype

## Teams

Insigths about the participants of the competition

In [713]:
teams_1 = list(df.team_1.unique())
teams_2 = list(df.team_2.unique())
teams = list(set(teams_1 + teams_2))

print('Teams: ', teams)
print('Number of teams: ', len(teams))

Teams:  ['BIG', 'Virtus.pro', '9z', 'ATOX', 'Vitality', 'Eternal Fire', 'Spirit', 'Rooster', 'Sangal', 'Astralis', 'M80', 'MOUZ', 'G2', 'Complexity', 'Natus Vincere', 'fnatic', 'Ninjas in Pyjamas', 'FURIA', 'Liquid', 'Wildcard', 'FlyQuest', 'HEROIC', 'Falcons', 'Lynn Vision', 'MIBR', 'The MongolZ', 'KOI', 'Imperial', 'RED Canids', 'ENCE', 'FaZe', '3DMAX']
Number of teams:  32

In [714]:
# Number of rounds and matches played by each team
team_1_stats = df.groupby('team_1').agg(
    rounds=('round', 'size'),
    matches=('match_url', 'nunique')
)
team_2_stats = df.groupby('team_2').agg(
    rounds=('round', 'size'),
    matches=('match_url', 'nunique')
)

total_stats = team_1_stats.add(team_2_stats, fill_value=0)
total_stats['avg_rounds_per_match'] = total_stats['rounds'] / total_stats['matches']

total_stats

                   rounds  matches  avg_rounds_per_match
3DMAX               283.0      6.0             47.166667
9z                  177.0      4.0             44.250000
ATOX                154.0      4.0             38.500000
Astralis            211.0      4.0             52.750000
BIG                 264.0      5.0             52.800000
Complexity          381.0      8.0             47.625000
ENCE                135.0      3.0             45.000000
Eternal Fire        408.0      7.0             58.285714
FURIA               353.0      7.0             50.428571
FaZe                256.0      5.0             51.200000
Falcons             221.0      4.0             55.250000
FlyQuest            204.0      4.0             51.000000
G2                  261.0      5.0             52.200000
HEROIC              383.0      7.0             54.714286
Imperial            193.0      4.0             48.250000
KOI                 111.0      3.0             37.000000
Liquid              231.0      5.0             46.200000
Lynn Vision         170.0      3.0             56.666667
M80                 178.0      4.0             44.500000
MIBR                298.0      6.0             49.666667
MOUZ                230.0      5.0             46.000000
Natus Vincere       337.0      6.0             56.166667
Ninjas in Pyjamas   203.0      4.0             50.750000
RED Canids          235.0      5.0             47.000000
Rooster             133.0      3.0             44.333333
Sangal              304.0      6.0             50.666667
Spirit              349.0      7.0             49.857143
The MongolZ         363.0      7.0             51.857143
Virtus.pro          249.0      5.0             49.800000
Vitality            209.0      4.0             52.250000
Wildcard            170.0      4.0             42.500000
fnatic              182.0      4.0             45.500000

## Maps

In [715]:
# Add column saying wich side won the round (0 for CT and 1 for TR)
ct_wins_types = ['ct_win.svg', 'bomb_defused.svg', 'stopwatch.svg']
df['win_side'] = df['win_type'].apply(lambda x: 0 if x in ct_wins_types else 1)

df = df.drop('winner', axis=1)

# Rounds per map
maps_stats = df.groupby('map_name').agg(
    total_rounds_played = ('match_url', 'count'),
    total_matches_played = ('match_url', 'nunique'),
    tr_wins=('win_side', 'sum')
)
maps_stats['avg_rounds_per_map'] = maps_stats['total_rounds_played'] / maps_stats['total_matches_played']
maps_stats['ct_wins'] = maps_stats['total_rounds_played'] - maps_stats['tr_wins']
maps_stats['ct_tr_ratio'] = maps_stats['ct_wins'] / maps_stats['tr_wins']

maps_stats

,total_rounds_played,total_matches_played,tr_wins,avg_rounds_per_map,ct_wins,ct_tr_ratio
map_name,,,,,,
Ancient,713,34,363,20.970588,350,0.964187
Anubis,704,33,382,21.333333,322,0.842932
Dust2,491,24,230,20.458333,261,1.134783
Inferno,436,21,222,20.761905,214,0.963964
Mirage,380,19,167,20.000000,213,1.275449
Nuke,807,39,350,20.692308,457,1.305714
Vertigo,387,18,178,21.500000,209,1.174157

# Feature Engineering

In this section we will create variables derivated from our data set that might
help a good fit for the model, they are:

- equipament_ct and equipament_tr: equipament value for sides, instead of teams
- equipament_ratio: equipament_ct / equipament_tr
- equipament_diff: equipament_ct - equipament_tr
- is_pistol: if the round is a pistol round

In [716]:
# Create equipaments_ct and equipaments_tr 
def get_side_equipament(team_1_side, equipament_1, equipament_2):
    
    equipament_ct = equipament_1 if team_1_side == 0 else equipament_2
    equipament_tr = equipament_1 if team_1_side == 1 else equipament_2
    
    return equipament_ct, equipament_tr

df[['equipament_ct', 'equipament_tr']] = df.apply(
    lambda row: get_side_equipament(
        row['team_1_side'],
        row['equipament_1'],
        row['equipament_2']
    ),
    axis=1,
    result_type='expand'
)

df = df.drop(
    [
        'equipament_1',
        'equipament_2',
        'team_1',
        'team_2'
    ],
    axis=1
)

df

,match_url,map_name,win_type,team_1_side,team_2_side,round,win_side,equipament_ct,equipament_tr
0,https://www.hltv.org/stats/matches/108629/eter...,Nuke,ct_win.svg,0,1,1,0,4100,4250
1,https://www.hltv.org/stats/matches/108629/eter...,Nuke,ct_win.svg,0,1,2,0,21700,2000
2,https://www.hltv.org/stats/matches/108629/eter...,Nuke,bomb_exploded.svg,0,1,3,1,25950,22200
3,https://www.hltv.org/stats/matches/108629/eter...,Nuke,bomb_exploded.svg,0,1,4,1,22350,24700
4,https://www.hltv.org/stats/matches/108629/eter...,Nuke,bomb_exploded.svg,0,1,5,1,3750,25500
...,...,...,...,...,...,...,...,...,...
3913,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,ct_win.svg,1,0,16,0,29200,25450
3914,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,bomb_defused.svg,1,0,17,0,33800,18300
3915,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,t_win.svg,1,0,18,1,33100,21100
3916,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,bomb_exploded.svg,1,0,19,1,28700,22900
3917,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,bomb_defused.svg,1,0,20,0,13150,26650

In [717]:
# Equipament variables
df['equipament_ratio'] = df['equipament_ct'] / df['equipament_tr']
df['equipament_dif'] = df['equipament_ct'] - df['equipament_tr']

df

,match_url,map_name,win_type,team_1_side,team_2_side,round,win_side,equipament_ct,equipament_tr,equipament_ratio,equipament_dif
0,https://www.hltv.org/stats/matches/108629/eter...,Nuke,ct_win.svg,0,1,1,0,4100,4250,0.964706,-150
1,https://www.hltv.org/stats/matches/108629/eter...,Nuke,ct_win.svg,0,1,2,0,21700,2000,10.850000,19700
2,https://www.hltv.org/stats/matches/108629/eter...,Nuke,bomb_exploded.svg,0,1,3,1,25950,22200,1.168919,3750
3,https://www.hltv.org/stats/matches/108629/eter...,Nuke,bomb_exploded.svg,0,1,4,1,22350,24700,0.904858,-2350
4,https://www.hltv.org/stats/matches/108629/eter...,Nuke,bomb_exploded.svg,0,1,5,1,3750,25500,0.147059,-21750
...,...,...,...,...,...,...,...,...,...,...,...
3913,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,ct_win.svg,1,0,16,0,29200,25450,1.147348,3750
3914,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,bomb_defused.svg,1,0,17,0,33800,18300,1.846995,15500
3915,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,t_win.svg,1,0,18,1,33100,21100,1.568720,12000
3916,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,bomb_exploded.svg,1,0,19,1,28700,22900,1.253275,5800
3917,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,bomb_defused.svg,1,0,20,0,13150,26650,0.493433,-13500

In [718]:
# is_pistol
'''
A pistol round occurs everytime a teams change sides (except if it's overtime),
or the map changes.
Overtime begins when the game reachs 12 x 12 => 24 rounds
'''
is_same_map = (df['map_name'] == df['map_name'].shift(1))
is_same_game = (df['match_url'] == df['match_url'].shift(1))
is_different_side = (df['team_1_side'] != df['team_1_side'].shift(1))
is_overtime = (df['round'] > 24)

df['is_pistol'] = (
    ~is_overtime & is_different_side | \
    ~is_same_map | \
    ~is_same_game
).astype(int)

df

,match_url,map_name,win_type,team_1_side,team_2_side,round,win_side,equipament_ct,equipament_tr,equipament_ratio,equipament_dif,is_pistol
0,https://www.hltv.org/stats/matches/108629/eter...,Nuke,ct_win.svg,0,1,1,0,4100,4250,0.964706,-150,1
1,https://www.hltv.org/stats/matches/108629/eter...,Nuke,ct_win.svg,0,1,2,0,21700,2000,10.850000,19700,0
2,https://www.hltv.org/stats/matches/108629/eter...,Nuke,bomb_exploded.svg,0,1,3,1,25950,22200,1.168919,3750,0
3,https://www.hltv.org/stats/matches/108629/eter...,Nuke,bomb_exploded.svg,0,1,4,1,22350,24700,0.904858,-2350,0
4,https://www.hltv.org/stats/matches/108629/eter...,Nuke,bomb_exploded.svg,0,1,5,1,3750,25500,0.147059,-21750,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3913,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,ct_win.svg,1,0,16,0,29200,25450,1.147348,3750,0
3914,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,bomb_defused.svg,1,0,17,0,33800,18300,1.846995,15500,0
3915,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,t_win.svg,1,0,18,1,33100,21100,1.568720,12000,0
3916,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,bomb_exploded.svg,1,0,19,1,28700,22900,1.253275,5800,0
3917,https://www.hltv.org/stats/matches/108028/flyq...,Dust2,bomb_defused.svg,1,0,20,0,13150,26650,0.493433,-13500,0

# Data Selection and Preparation for Modeling

Since the intention of this model is to predict the winner regardless the team
who's playing, we will drop the variables not related to the game:
- match_url
- team_1_side
- team_2_side
- win_type

## Data preparation

In [719]:
# Drop non-predictive columns
df = df.drop(['match_url', 'team_1_side', 'team_2_side', 'win_type'], axis=1)

# Get dummies for maps
df = pd.get_dummies(df, drop_first=True).astype(int)

df

,round,win_side,equipament_ct,equipament_tr,equipament_ratio,equipament_dif,is_pistol,map_name_Anubis,map_name_Dust2,map_name_Inferno,map_name_Mirage,map_name_Nuke,map_name_Vertigo
0,1,0,4100,4250,0,-150,1,0,0,0,0,1,0
1,2,0,21700,2000,10,19700,0,0,0,0,0,1,0
2,3,1,25950,22200,1,3750,0,0,0,0,0,1,0
3,4,1,22350,24700,0,-2350,0,0,0,0,0,1,0
4,5,1,3750,25500,0,-21750,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3913,16,0,29200,25450,1,3750,0,0,1,0,0,0,0
3914,17,0,33800,18300,1,15500,0,0,1,0,0,0,0
3915,18,1,33100,21100,1,12000,0,0,1,0,0,0,0
3916,19,1,28700,22900,1,5800,0,0,1,0,0,0,0
3917,20,0,13150,26650,0,-13500,0,0,1,0,0,0,0

# Saving the data

In [720]:
df.to_csv('full_rounds_cleaned.csv')